$color-bg: black;
$color-text: white;
$color-faint: #888;
$color-accent: #3a9ac4;

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: sans-serif;
  overflow: hidden;
  color: $color-text;
  background-color: $color-bg;
}

#container {
  padding: 10px;
  width: fit-content;
  height: fit-content;
  width: -moz-fit-content;
  height: -moz-fit-content;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

#controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

button {
  position: relative;

  width: 15px;
  height: 15px;
  padding: 2px;
  border: 1.5px solid $color-text;
  border-radius: 2px;

  font-size: 0.3em;

  color: $color-text;
  background-color: transparent;

  transition: all 0.5s cubic-bezier(0.25, 0.93, 0.56, 1.43);
  &:hover {
    color: $color-faint;
    border-color: $color-faint;
    transform: scale(1.25);
  }
  &:active {
    background-color: $color-faint;
    transform: scale(1.2);
  }

  &.active {
    border-color: $color-accent;
    color: $color-accent;

    &:active {
      background-color: $color-accent;
    }
  }

  &.disabled {
    color: $color-faint;
    border-color: $color-faint;
    &:hover,
    &:active {
      color: $color-faint;
      border-color: $color-faint;
      background-color: transparent;
      transform: none;
    }
  }

  & sub {
    position: absolute;
    transform: translate(0, 50%) translate(-1px, -1px) scale(0.5);
  }
}

*[hover-text] {
  &::before {
    content: attr(hover-text);

    color: $color-text;
    background-color: lighten($color-bg, 10%);

    position: absolute;

    font-size: 5px;

    width: max-content;
    padding: 1px;
    border-radius: 1px;

    top: 100%;

    opacity: 0;
    transition: opacity 0.5s ease;
  }
  &:hover::before {
    opacity: 1;
  }
}

#obj-menu {
  display: none;
  .active > & {
    display: flex;
  }
  flex-direction: column;
  gap: 2px;

  position: absolute;
  transform: translate(-3.5px, 4px); // depends on padding and border of button

  $item-width: 10px;
  max-height: 4 * $item-width;
  overflow-y: scroll;
  border: 1.5px solid $color-text;
  border-radius: 2px;

  background-color: $color-bg;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  & > img {
    image-rendering: pixelated;
    width: $item-width;
    padding: 0.1 * $item-width;
    border-radius: 0.1 * $item-width;

    background-color: $color-bg;

    transition: background-color 0.25s ease-out;

    &:hover {
      background-color: lighten($color-bg, 20%);
    }
  }
}

canvas {
  // pixelate
  image-rendering: pixelated;

  // don't antialias fonts
  // font-smooth: never;
  // -webkit-font-smoothing: none;

  &#save-buffer {
    display: none;
  }
}
